<style type="text/css">
    .giohang {
        position: absolute;
        color: #f542c2;
        font-size: large;
        top: 9px;    
    }

</style>

<a href="@Url.Action("GioHang","GioHang")" class="giohang" ><i class="fa fa-shopping-cart">
        </i>@ViewBag.TongSoLuong</a>

