
<div class="row">
    <div class="text-reset-black"
         style="display: flex; justify-content:center">
        <h3 style="width: 25%; text-align: center;margin: 30px; padding: 10px; border-bottom: 3px solid #f542c2; font-weight: bold"> DÀNH CHO NỮ </h3>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 border-box">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
                <img src=@Url.Content("~/HinhanhSP/"+item.Anhbia) class="img-responsive" alt="" width="400" height="400" style="border-radius: 15px" />
            </a>
            <center>
                <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Tensp</h3>
                <h3 style="color:red">Giá: @item.Giatien</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" value="Mua hàng" id="bgnGioHang" />

                }
                @*<h4> <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a></h4>*@
            </center>

        </div>
    }

</div>


